.mainContainer{
    max-width: 100vw;
    /* max-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .mainWrapper{
        width: 100%;
    }
}
